@import "tailwindcss";

@theme {
  --color-lightHover: #fcf4ff;
  --color-darkHover: #3a004a;
  --color-accent: #22D3EE;
  --color-darkTheme: #11001f;
}

:root {
  --font-outfit-fallback: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  --font-ovo-fallback: ui-serif, Georgia, "Times New Roman", Times, serif;
}
*{
  font-family: Outfit;
}
